*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

nav ul
{
    list-style-type: none;
    background-color: #dbe1e2;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

nav ul li a
{
    text-decoration: none;
    display: block;
    padding: 1em;
    color: black;
    cursor: pointer;
}

#home
{
    border-left: 5px solid #5366c3;
}

#about
{
    border-left: 5px solid #3f83c0;
}

#work
{
    border-left: 5px solid #2aa1bd;
}

#contact
{
    border-left: 5px solid #15bfbb;
}

#home:hover
{
    animation-name: colorchange;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes colorchange
{
    from
    {
        background-color: #dbe1e2;
        color: black;
    }
    to 
    {
        background-color: #5366c3;
        color: #ffffff;
    }
}